BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Middle

UseTab: ForIndentation
IndentWidth: 2
TabWidth: 2
AccessModifierOffset: -2

AlignAfterOpenBracket: AlwaysBreak
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
